[Unit]
Description=BTK Discord bot
After=btk-db.service
Requires=btk-db.service

[Container]
Image=localhost/btk:latest
Pod=btk.pod
Environment=BTK_DB_HOST=127.0.0.1
EnvironmentFile=/etc/btk/btk.env
Exec=uv run btk-bot
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=default.target
